extends layout

block content
    .title
        h1= title
        h2= "fresh from the deli"

    .content
        p Welcome to #{title}
        input(type='button', value="Connect to SC")#connect

    #log(style="margin: 10px")