body {
    margin: 0;
    padding: 0;

    font-size: 100%;
    font-family: serif; /*"Proxima Nova","Helvetica Neue", Helvetica, Arial, sans-serif;*/
    color: #fff;
    background-color: #1E1E22;
}

.title {
    width: 100%;
    min-height: 45px;

    margin: 0 auto 20px auto;
    padding: 5px 0 10px  0;

    text-align: center;
    color: #fff;
    background: #ff595b;
}

.title h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.5em;
}

.title h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.1em;
}

.content {
    width: 80%;
    padding: 0;
    margin: auto;
}

input {
    color: #000;
    padding: 10px;
}